{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block javascripts %}   

<script type="text/javascript" src='{{ asset("js/line.js") }}'></script> 
<script>


</script>

{% endblock %}
{% block body %}

<div id="chart">
  <svg></svg>
</div>


{% endblock %}

